/* animez le téléphone pour que
- au survol du téléphone, le bouton de démarrage du téléphone pulse toutes les 2 secondes :
	- au départ il a sa taille ;
	- à la moitié du temps, il a la moitité de sa taille ;
	- à la fin, il revient à sa taille normale
Attention, le bouton doit rester centré !
*/

svg:hover circle{
    animation: start 2s infinite;
    transform-origin: center;

}

@keyframes start {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
}