/* animez le téléphone pour que
- au chargement de la page, il tourne une fois sur lui même avec un départ lent, puis une accélération et une décélération à la fin ; 
- au survol, il pulse toutes les 1/2 secondes :
	- au départ il a sa taille ;
	- à la moitié du temps, il a la moitité de sa taille ;
	- à la fin, il revient à sa taille normale
*/

svg {
    transform-origin: 55px 40px;
    animation: turn 3s ease-in-out;
}

svg:hover {
    animation: pulse 1s infinite;
}

@keyframes turn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
}