@font-face {
    font-family: 'luckiest_guyregular';
    src: url('luckiestguy-webfont.eot');
    src: url('luckiestguy-webfont.eot?#iefix') format('embedded-opentype'),
    url('luckiestguy-webfont.woff2') format('woff2'),
    url('luckiestguy-webfont.woff') format('woff'),
    url('luckiestguy-webfont.ttf') format('truetype'),
    url('luckiestguy-webfont.svg#luckiest_guyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* reprenez ici votre feuille de style de l'exercie 06-logo-svg-groups, nous allons la compéter */

circle {
    fill : none;
    stroke : #008B6F;
    stroke-width : 7px;
}

line {
    stroke : #00392D;
    stroke-width : 5px;
    stroke-linecap : round;
}

polygon {
    stroke: #00392D;
    stroke-width: 2px;
    stroke-linecap: round;
    fill: #008B6F;
}

text {
    font-family: 'luckiest_guyregular', serif;
    font-size : 60px;
    stroke : #00392D;
    stroke-width : 3px;
    fill : #F6F7F3;
    text-anchor: middle;
}

.triangle_group polygon {
    fill: #59BFC6;
    stroke-width: 1px;
}